html {
    scroll-behavior: smooth;
}

body {
    background: url(https://klv-oboi.by/img/gallery/56/thumbs/thumb_l_25288.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

.nav__cv {
    text-align: left;
    font-size: 17px;
}

.navigation {
    max-width: 1080px;
    margin: 0px auto;
    padding: 10px 0;
    background-color: rgb(61, 115, 196);
}

button {
  padding: 0;
  border: none;
  font: inherit;
  font-size: x-large;
  color: white;
  background-color: transparent;
}

button:hover {
    color: #000;
}

.list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.list li {
    padding: 0 10px;
    cursor: pointer;
    color: white;
}

.list li a {
    text-decoration: none;
    color: white
}

.navigation ul li a:hover {
    color: black;
}

.hidden {
    width: 10%;
    height: 25px;
    margin-left: 85%;
    margin-right: 5%;
    display: none;
}

.close {
    display: none;
}


.main__header {
    text-align: left;
    font-size: 17px;
}
.about {
    background: rgb(255, 255, 255);
    max-width: 1080px;
    margin: 0px auto;
}

.conteiner {
    display: flex;
    flex-direction: row;
}

.about__me {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 70px 40px 10px 40px;
    margin: 0 0 0 40px;
}
.about__me_name {
    margin: 10px;
    font-size: 50px;
}

.about__me_front-end::after {
    display: block;
    width: 40px;
    content: '';
    position: relative;
    border-bottom: 3px solid rgb(61, 115, 196);
    top: 25px; 
}
.about__me_front-end {
    margin: 10px;
    background: rgb(61, 115, 196);
    padding: 5px;
    width: 199px;
    color: honeydew;
}
.about__me_text {
    line-height: 20px;
    margin: 25px 0 0 10px;
}
.about__contacts {
    width: 20%;
    background: rgb(61, 115, 196);
    flex-direction: column;
    line-height: 20px;
    color: honeydew;
    padding: 80px 40px 10px 50px;
    margin: 0 90px 0 40px;
}

.about__contacts ul li {
    padding: 5px 0 5px 0;
}

.about__telegram {
    margin: 10px;
}
.about__phone {
    margin: 10px;
}
.about__email {
    margin: 10px;
}

.main {
    text-align: left;
    font-size: 17px;
}

.main__content {
    background: rgb(255, 255, 255);
    max-width: 1080px;
    margin: 0px auto;
}
.content {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;

}

.content__left {
    width: 40%;
    flex-direction: column;
    padding: 30px 40px 10px 40px;
    margin: 0 0 0 50px;
}
.photo img{
    width: 99%;
}
.content__right {
    width: 60%;
    flex-direction: column;
    padding: 30px 40px 10px 40px;
    margin: 0 40px 0 0;
}

.item__title {
    padding: 20px 0 20px 0;
    font-weight: 700;
    font-size: x-large;
}

.item__title::after {
    display: block;
    width: 40px;
    content: '';
    position: relative;
    border-bottom: 3px solid rgb(61, 115, 196);
    top: 17px; 
}

.item__body {
    margin: 10px 0 0 0;
    line-height: 20px;
}

.item {
    display: flex;
    flex-direction: row;
}

.item img {
    
    width: 50%;
}

.footer {
    display: flex;
}

.footer__row {
    flex-basis: 100%;
    background: rgb(86, 87, 88);
    max-width: 1080px;
    margin: 0 auto;
    font-family: 17px;
    color: honeydew;
    text-transform: uppercase;
}

.content__footer {
    margin: 10px;
    display: inline-flex;
    flex-direction: row;
    margin: 0;
}

.github {
    display: inline-flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}

.logo__github {
    flex-basis: 5%;
    padding: 10px;
}

.logo__github img {
    width: 80%;
}

.text{
    padding: 27px 10px 10px 10px;
}

.text a {
    text-decoration: none;
    color: white;
}

.text a:hover {
    color: black;
}

.rs-school {
    display: inline-flex;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.logo__rs {
    flex-basis: 14%;
    padding: 10px;
}

.logo__rs img {
    width: 80%;
}

.code_block {
    overflow: auto;
    background-color: #3b3b3b;
    color: #ffffff;
    padding: 0 20px;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}

.project li {
    padding: 5px 0;
}

.project li a{
    text-decoration: none;
    color: black;
}

.project li a:hover{
    color: rgb(61, 115, 196);
    font-weight: bold;
}

.img_project img{
    width: 400px;
    height: 180px;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media screen and (max-width: 940px) {
    .content {
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }

    .content__left {
        width: 80%;
        flex-direction: column;
        padding: 30px 40px 10px 40px;
    }

    .content__right {
        width: 80%;
        flex-direction: column;
        padding: 30px 40px 10px 90px;
    }

    .photo img {
        width: 90%;
    }
}

@media screen and (max-width: 780px) {
    .list{
        width: 100%;
        position: absolute;
        z-index: 100;
        top: 40px;
        display: none;
        background: rgb(61, 115, 196);
        text-align: center;
    }

    .list li {
        padding: 11px 10px;
    }

    .list li:hover {
        background-color: rgba(255, 255, 255, 0.678);
    }

    .hidden {
        display: block;
    }

    body {
        background: white;
    }
    .conteiner {
        display: flex;
        flex-direction: column;
    }

    .about__me {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 30px 5% 10px 5%;
        margin: 0px;
    }

    .about__contacts {
        width: 90%;
        background: rgb(61, 115, 196);
        display: flex;
        flex-direction: row;
        line-height: 20px;
        color: honeydew;
        padding: 20px 5% 10px 5%;
        margin: 0 0 0 0;
    }

    .about__contacts ul{
        display: flex;
        flex-direction: row;
    }

    .about__contacts ul li{
        padding: 0 10px;
    }

    .content__left {
        width: 90%;
        padding: 30px 5% 10px 5%;
        margin: 0px;
    }

    .content__right {
        width: 90%;
        padding: 30px 5% 10px 5%;
        margin: 0px;
    }

    .content__footer {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .github {
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 100%;
        justify-content: space-between;
        padding: 0;
    }

    .logo__github {
        flex-basis: 7%;
        padding: 10px;
    }

    .logo__rs {
        flex-basis: 14%;
        padding: 10px;
    }

    .text {
        padding: 10px 10px 10px 10px;
    }
}    

@media screen and (max-width: 500px) {
    .about__contacts ul{
        display: flex;
        flex-direction: column;
    }

    .about__contacts ul li{
        padding: 5px 10px;
    }

    .img_project img{
        width: 300px;
        height: 135px;
    }

    .text {
        font-size: 15px;
    }
}    

@media screen and (max-width: 423px) {
    .logo__github {
        flex-basis: 20%;
        padding: 5px;
    }

    .logo__rs {
        flex-basis: 40%;
        padding: 5px;
    }

    .text {
        font-size: 15px;
        padding: 10px 5px 10px 5px;
    }
}    

@media screen and (max-width: 320px) {
    .img_project img{
        width: 220px;
        height: 100px;
    }

    .about__me_name {
        font-size: 40px;
    }

    .text {
        font-size: 10px;
    }
}    